<!DOCTYPE HTML>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="de">  <!--<![endif]-->
<head>

	<!-- META DATA -->
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<meta charset="UTF-8">
	<title>3Dthon: Sign Up/Sign In</title>
    <meta name="description" content="3D printing competition"/>
    <meta name="keywords" content="3D printing, 3D printer"/>
    <meta name="author" content="RamSud Labs"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- JARVIS THEME STYLESHEETS -->
     
	<link rel="stylesheet" href="css/skeleton.css" type="text/css">
	<link rel="stylesheet" href="css/reset.css" type="text/css">    
	<link rel="stylesheet" href="css/style.css" type="text/css">
	<link rel="stylesheet" href="css/social.css" type="text/css">             
	<link rel="stylesheet" href="css/flexslider.css" type="text/css">	
	<link rel="stylesheet" href="css/prettyPhoto.css" type="text/css" media="screen"/><!-- PrettyPhoto -->	
	<link rel="stylesheet" href="css/font-awesome.css" type="text/css"/><!-- PrettyPhoto -->    
	<link rel="stylesheet" href="css/shortcodes.css" type="text/css"/> 	
	<link rel="stylesheet" href="css/media.css"><!-- Media Queries -->

    
    
    <link id="layout_color" href="css/light.css" rel="stylesheet" type="text/css"/>  
    <link id="primary_color_scheme" href="css/colors/blue.css" rel="stylesheet" type="text/css"/>      
    
  </head>
  
  <body class="multipage">
    <nav class="light">
      <!-- START CONTAINER -->	
      <div class="container clearfix">			
        <div class="four columns">			
          <!-- START LOGO -->	
          <div class="logo large">
            <a href="/"><img src="images/logo.png" title="logo" alt="Logo"/></a>
          </div>
          <!-- END LOGO -->			
        </div><!-- END FOUR COLUMNS -->   
          
        <div class="twelve columns">            		
          <!-- START NAVIGATION MENU ITEMS -->
          <ul class="main-menu large" id="privacy_nav">
            <li><a href="/competitions">Home</a></li>                
            <li><a href="/competitions">Competitions</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/newContest">Host a Contest</a></li>
            <li><a href="http://blog.3dthon.com" target="_blank">Blog</a></li> 
	    			<li><a href="/signout">Sign Out</a></li>
	  			</ul>
          <!-- END NAVIGATION MENU ITEMS -->				

        </div><!-- END TWELVE COLUMNS -->	
      </div><!-- END CONTAINER -->	
    </nav>
    
    <div class="page-wrap">
    	<div class="page multipage">
      	<div class="container">
        	<div class="row">
          	<div class="sixteen columns">
            	<div class="title">
              	<h1>Active Competitions</h1>
              </div>
            </div>
          </div>
        </div>
        <!-- END OF CONTAINER -->
        
        <div class="container">
        	<div class="sixteen columns">
						<% for(var i = 0; i < competitions.length; i++) { %>
            	<div class="post">
              <div class="row fullwidth grey">
              	<div class="four columns">
                	<a href="/competitions/<%= competitions[i].id %>">
                  	<img src="<%= competitions[i].images[0] %>" alt="portfolio slider">
                  </a>
                </div>
                <div class="eleven columns">
                	<div class="post-title">
                		<a href="/competitions/<%= competitions[i].id %>">
                  		<%= competitions[i].title %>
                  	</a>
                	</div>
                	<div class="post-meta">
                		Ends at: <%= competitions[i].endTime %>
                	</div>
                	<div class="post-content">
                		<%- competitions[i].description %>
										<p>
											<h6>Reward: <%= competitions[i].reward %></h6>
                    </p>
                	</div>
                </div>
              </div>
              
             <% } %>
          </div>
        </div>
        <!-- END OF CONTAINER -->
        
      </div>
    </div>
    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>  
		<script type="text/javascript" src="js/jquery.queryloader2.js"></script>        
		<script type="text/javascript" src="js/modernizr-2.6.2.min.js"></script>  
		<script type="text/javascript" src="js/jquery.fitvids.js"></script>  
		<script type="text/javascript" src="js/jquery.appear.js"></script>  
		<script type="text/javascript" src="js/jquery.slabtext.min.js"></script>   
		<script type="text/javascript" src="js/jquery.fittext.js"></script>   
		<script type="text/javascript" src="js/jquery.easing.min.js"></script>
		<script type="text/javascript" src="js/jquery.parallax-1.1.3.js"></script>
		<script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
		<script type="text/javascript" src="js/jquery.sticky.js"></script>
		<script type="text/javascript" src="js/selectnav.min.js"></script>    
		<script type="text/javascript" src="js/SmoothScroll.js"></script>   
		<script type="text/javascript" src="js/jquery.flexslider-min.js"></script>    
		<script type="text/javascript" src="js/isotope.js"></script>    
		<script type="text/javascript" src="js/bootstrap-modal.js"></script>   
		<script type="text/javascript" src="js/shortcodes.js"></script>     
		<script type="text/javascript" src="js/scripts.js"></script>          

 	</body>
</html>
